# fly.toml app configuration file generated for frontend-cool-glade-1606 on 2025-11-11T11:05:31+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'frontend-cool-glade-1606'
primary_region = 'cdg'

[build]
  dockerfile = "Dockerfile"

[env]
  BACKEND_URL = "https://backend-dark-bird-9186.fly.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
